In [1]:
!pip install pandas

In [2]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)

third_element = series[2]

print("Pandas Series:")
print(series)
print("\n3rd element in the Series:", third_element)

Pandas Series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

3rd element in the Series: 30

In [3]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [25, 30, 35],
    "City": ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)

print("DataFrame:")
print(df)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

##Filtering and Conditional Selection

In [12]:
import pandas as pd

# Load the Titanic dataset
titanic = pd.read_csv("C:/Users/makmo/Downloads/titanic.csv")

# Identify and count missing values in each column
missing_values = titanic.isnull().sum()
print("Missing values in each column:\n", missing_values)

median_age = titanic['Age'].median()
titanic['Age'] = titanic['Age'].fillna(median_age)

print(f"Filled missing values in 'Age' column with median: {median_age}")

Missing values in each column:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
Filled missing values in 'Age' column with median: 28.0

In [11]:
# Select rows where "Age" > 30 and "Survived" = 1
filtered_rows = titanic[(titanic['Age'] > 30) & (titanic['Survived'] == 1)]
print("\nRows where 'Age' > 30 and 'Survived' = 1:\n", filtered_rows)

# Extract only the "Name" and "Fare" columns for these rows
selected_columns = filtered_rows[['Name', 'Fare']]
print("\nFiltered rows with 'Name' and 'Fare':\n", selected_columns)

Rows where 'Age' > 30 and 'Survived' = 1:
      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
11            12         1       1
15            16         1       2
21            22         1       2
..           ...       ...     ...
857          858         1       1
862          863         1       1
865          866         1       2
871          872         1       1
879          880         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
..                                                 ...     ...   ...    ...
857                             Daly, Mr. Peter Denis     male  51.0      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
11       0    113783  26.5500  C103        S
15       0    248706  16.0000   NaN        S
21       0    248698  13.0000   D56        S
..     ...       ...      ...   ...      ...
857      0    113055  26.5500   E17        S
862      0     17466  25.9292   D17        S
865      0    236852  13.0000   NaN        S
871      1     11751  52.5542   D35        S
879      1     11767  83.1583   C50        C

[124 rows x 12 columns]

Filtered rows with 'Name' and 'Fare':
                                                   Name     Fare
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  71.2833
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  53.1000
11                            Bonnell, Miss. Elizabeth  26.5500
15                    Hewlett, Mrs. (Mary D Kingcome)   16.0000
21                               Beesley, Mr. Lawrence  13.0000
..                                                 ...      ...
857                             Daly, Mr. Peter Denis   26.5500
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  25.9292
865                           Bystrom, Mrs. (Karolina)  13.0000
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  52.5542
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  83.1583

[124 rows x 2 columns]